.principal,
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titulo{
  text-align: center;
  margin: 0%;
}

/*
colores de fondo del body
*/
.enojado{
  background-color: red;
}

.feliz{
  background: rgb(249,153,78);
  background: linear-gradient(0deg, rgba(249,153,78,1) 0%, rgba(251,214,181,1) 100%);
  background-repeat: no-repeat;
}

.triste{
  background-color: rgb(28, 28, 209);
}

.tranquilo{
  background: rgb(138,244,244);
  background: linear-gradient(0deg, rgba(138,244,244,1) 0%, rgba(139,237,237,1) 49%, rgba(200,250,249,1) 81%);
  background-repeat: no-repeat;
}

/*
Colores de fondo de la seccion
*/
.enojado-s{
  background-color: rgb(232, 78, 78);
}

.feliz-s{
  background: rgb(249,153,78);
  background: linear-gradient(0deg, rgba(249,153,78,1) 0%, rgba(251,214,181,1) 100%);
  background-repeat: no-repeat;
}

.tranquilo-s{
  background-color:#59b7b6 ;
}

/*
Modificacion de tamaños imagenes
*/

.emoji{
  width: 1rem;
}

#img-1{
  width: 2%;
  position: relative;
  right: 11%;
  bottom: 10%;
}

/*
Tamaño de botones
*/

#feliz,
#triste,
#tranquilo,
#enojado{
  width: 2.9rem;
  border-style: none;
}

#emociones{
  margin-bottom: 3%;
}