.principal,
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titulo{
  text-align: center;
  margin: 0%;
}

/*
colores de fondo del body
*/
.enojado{
  background:
      linear-gradient(
        to top,
        #cb211f 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
        #e48280 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
        #f8d9d7 100%      /* Color 100% rojo en el punto 100% */
      );
      background-repeat: no-repeat;
      height: 58.2rem;
  
}

.feliz{
    background:
      linear-gradient(
        to top,
        #f99342 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
        #fcc59c 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
        #feebdd 100%      /* Color 100% rojo en el punto 100% */
      );
      background-repeat: no-repeat;
      height: 58.2rem;

  }


.triste{
  background:
      linear-gradient(
        to top,
        #24223a 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
        #7c7b89 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
        #d3d2d7 100%      /* Color 100% rojo en el punto 100% */
      );
      background-repeat: no-repeat;
      height: 58.2rem;
}

.tranquilo{
  background:
      linear-gradient(
        to top,
        #88f4f4 0%,     /* Color 100% negro en el punto 0% y comienza a cambiar */
        #c1f9fa 50%,     /* Color 100% dorado en el punto 50% y comienza a cambiar */
        #eefbfd 100%      /* Color 100% rojo en el punto 100% */
      );
      background-repeat: no-repeat;
      height: 58.2rem;

}

/*
Colores de fondo de la seccion
*/
.enojado-s{
  background-color: #fe7678;
}

.feliz-s{
 background-color: #ffff01;
}

.tranquilo-s{
  background-color:#59b7b6 ;
}

.triste-s{
  background-color: #141265;
}

/*
Modificacion de tamaños imagenes
*/

.emoji{
  width: 1rem;
}

#img-1{
  width: 2%;
  position: relative;
  right: 11%;
  bottom: 10%;
}

/*
Tamaño de botones
*/

#feliz,
#triste,
#tranquilo,
#enojado{
  width: 2.9rem;
  border-style: none;
}

#emociones{
  margin-bottom: 3%;
}